@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.jsx";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Poppins", sans-serif;
}

@theme {
    --color-one: #55548F;
    --color-two: #FFC375;
    --color-three: #F28F77;
    --color-four: #53A3BD;
    --color-five: #B9E69E;
}

:root {
    --font-family-sans: "Poppins", sans-serif;
}
